<div class="container">
  <h3 class="text-center">The Easiest & Safe Way in U.S to Buy Bitcoin With Cash</h3>
  <h3 class="text-center green"><strong>How It Works</strong></h3>
  <div class="howitworks">
    <div class="col-md-3 col-lg-3 col-sm-3 text-center col-md-offset-1 col-lg-offset-1 col-sm-offset-1">
      <%= image_tag("bitbillers.png", class: 'img-responsive') %>
      <br/>
      <div class="title green">1. CREATE A BITBILL</div>
      Choose a local store and confirm the amount to play. You will get an electronic BitBill Delivered by
      email or sms.
    </div>
    <div class="chevron hidden-xs hidden-sm">
      <i class="fa fa-chevron-right"></i>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3 text-center ">
      <%= image_tag("market.png", class: 'img-responsive') %>
      <br/>
      <div class="title green">2. PAY YOUR BITBILL</div>
      Go to the local store, provide your BitBill number to cashier and complete the cash
      payment.
    </div>
    <div class="chevron hidden-xs hidden-sm">
      <i class="fa fa-chevron-right"></i>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3   text-center">
      <%= image_tag("coints.png", class: 'img-responsive') %>
      <br/>
      <div class="title green">3. GET BITCOIN</div>
      Instantly released to your address or biller account.
    </div>
  </div>
  <div class="col-md-12 text-center started">
    <h3 class="green"><strong>Buy Bitcoin Today</strong></h3>
    <%= link_to "GET STARTED", "#", class: "btn btn-primary btn-lg radius" %>
    <br/>
    <strong>Customer Support:</strong>
    <br/>
    Text to 888-616-3938
    <br/>
    Email to <%= link_to 'support@bitbillers.com', mailto: 'support@bitbillers.com' %>
    <br/>
    Mon-Fri // 9AM-5PM EST
  </div>
</div>
<section class="biller-sec">
  <div class="container">
    <h3 class="green text-center billers"><strong>Billers</strong><h3>  
      <div class="col-md-8 col-lg-8 col-sm-8 text-right">
        <p>Get 3% increase in your business margins.
          <br/>
          <br/>
          If you accept bitcoin for your web shop ou your services online, BitBillers will boost your sales.
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 text-right">
          <%= link_to "Pay Whith Bitcoin", "#", class: 'btn btn-gray' %>
          <br/>
          Power by <div class="col-md-3"><%= image_tag("logo-text.png", class: "img-responsive") %></div>
        </div>
      </div>
    </div>
  </div>
</section>