<div class="clearfix"></div>
<div class="container">
  <h4 class="text-center text-safe">The Easiest & Safe Way in U.S to Buy Bitcoin With Cash</h4>
  <h3 class="text-center green">How It Works</h3>
  <div class="howitworks">
    <div class="col-md-3 col-lg-3 col-sm-12 text-center col-md-offset-1 col-lg-offset-1 col-sm-offset-0 how-it-works-content">
      <%= image_tag("ICONO1.png", class: 'img-responsive') %>
      <br/>
      <div class="title green">1. CREATE A BITBILL</div>
      Choose a local store and confirm the amount to play. You will get an electronic BitBill Delivered by
      email or sms.
    </div>
    <div class="chevron hidden-xs hidden-sm">
      <i class="fa fa-chevron-right"></i>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12 text-center how-it-works-content">
      <%= image_tag("ICONO2.png", class: 'img-responsive') %>
      <br/>
      <div class="title green">2. PAY YOUR BITBILL</div>
      Go to the local store, provide your BitBill number to cashier and complete the cash
      payment.
    </div>
    <div class="chevron hidden-xs hidden-sm">
      <i class="fa fa-chevron-right"></i>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12   text-center how-it-works-content">
      <%= image_tag("ICONO3.png", class: 'img-responsive') %>
      <br/>
      <div class="title green">3. GET BITCOIN</div>
      Instantly released to your address or biller account.
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-12 text-center started">
    <h3 class="green">Buy Bitcoin Today</h3>
    <div class="col-md-4 col-lg-4 col-lg-offset-4  col-md-offset-4"> 
      <%= link_to "GET STARTED", "#", class: "btn btn-primary btn-lg radius btn-width" %>
    </div>
    <div class="clearfix"></div>
    <div class="action-panel">
      <br/>
      <h4>Customer Support:</h4>
      <p>Text to 888-616-3938</p>
      <p>Email to <%= link_to 'support@bitbillers.com', mailto: 'support@bitbillers.com' %></p>
      <span>Mon-Fri // 9AM-5PM EST</span>
    </div>
  </div>
</div>
<section class="biller-sec">
  <div class="container">
    <h1 class="green text-center billers">Billers</h1>  
    <div class="col-xs-7 col-md-7 col-lg-7 col-sm-7 text-right col-md-offset-1 col-lg-offset-1 col-sm-offset-1">
      <p class="increase"><strong>Get 3% increase in your business margins.</strong></p>
      <span class="detail-increase">If you accept bitcoin for your web shop ou your services online, BitBillers will boost your sales.</span>
    </div>
    <div class="col-xs-5 col-md-4 col-lg-4 col-sm-4 text-left">
      <%= link_to  "#", class: 'btn-pay' do %>
      <%= image_tag("PAYWHITBITCOIN.png", class: '') %>
      <% end %>
    </div>
    <div class="market col-md-8 col-xs-8 text-center col-md-offset-2 col-xs-offset-2">
      <%= image_tag("PROCESOICONO.png", class: "img-responsive") %>
    </div>
    <div class="clearfix"></div>
    <div class="customers-text text-center col-md-8 col-lg-8 col-sm-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-2""">
      <h4>
        Your customers can get Bitcoin easy and <br/>
        fast using our convenient network of retail stores.
      </h4>
      <div class="col-md-11 col-lg-11 col-md-offset-1 col-lg-offset-1">
        <ol class="list-unstyled text-left">
          <li>1. Use our API or dashboard to create and deliver BitBills</li>
          <li>2. Your customer can pay BitBills in CASH at Walk-in locations</li>
          <li>3. We deliver bitcoin to your business address</li>
        </ol>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 box-checklist">
      <div class="col-md-5 checklist col-md-offset-2 col-sm-5 col-sm-offset-1">
        <p><i class="fa fa-check-circle green"></i> Realtime notifications</p>
        <p><i class="fa fa-check-circle green"></i>Locations in every major metropolitan area<p>
        </div>
        <div class="col-md-5   checklist">
          <p><i class="fa fa-check-circle green"></i> Chargebacks risk-free</p>
          <p><i class="fa fa-check-circle green"></i> Incredible customer support</p>
        </div>
      </div>
      <div class="col-md-12 text-center contact-us-btn">
        <%= link_to "Contact Us", "mailto:customerservice@instabuyback.com", class: 'btn btn-primary radius btn-lg btn-width' %>
      </div>    
    </div>
  </section>
  <div class="clearfix"></div>
  <section class="stores">
    <div>
      <h3 class="green text-center">Stores</h3>
      <h4 class="text-center text-standard">Do you own a retail business?</h4>
      <p class="join text-center">Join to the fast-growing evolution of Bitcoin.</p>
      <div class="bit-buyyers">
        <div class="bit-buyyers-text col-xs-8 col-md-4 col-lg-6 col-sm-6 text-right col-md-offset-1 col-lg-offset-2 col-sm-offset-2">
          <%= image_tag("LOGO.png", class: 'img-logo-text') %>is building the larges nationwide network of local stores for buying Bitcoin. We’re inviting your business to join in on our succes. We offer the most convenient solution for Bitcoin buyers - Join us.
        </div>
        <div class="col-xs-4 col-md-4 col-lg-3 col-sm-3">
          <%= image_tag("STORE1.png", class: "img-responsive img-home") %>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <section class="store-market">
    <div>
      <div class="col-xs-2 col-md-2 col-lg-2 col-sm-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
        <%= image_tag("STORE2.png", class: "img-responsive store-img") %>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 store-market-text">
        We have developed the technology and the partnerships to generate the most convenient solution in the market. Our growing base of customers will generate additional revenue streams for your business, increase store traffic, give you an edge over competition and improve customer loyalty.
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <section class="market">
    <div>
      <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-right">
        <span class="green benefit-span"><strong>Benefits:</strong></span>
        <br></br>
        <ul class="list-unstyled">
          <li>Free Point of Sale for the store<i class="fa fa-check-circle green"></i></li>
          <li>Commissions per each sale<i class="fa fa-check-circle green"></i></li>
          <li>Attract potential customers walking in your door<i class="fa fa-check-circle green"></i></li>
        </ul>
      </div>
      <div class="col-xs-3 col-md-2 col-lg-2 col-sm-4">
        <%= image_tag("MONEYHAND.png", class: "img-responsive img-benefits") %>      
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="contact-us text-center contact-us-btn">
      <%= link_to "Contact Us", "#", class: 'btn btn-primary btn-lg radius btn-width' %>
    </div>
  </section>
  <div class="clearfix"></div>
  <section class="questions">
   <div class="col-md-11 col-md-offset-1">
     <h3 class="green">Frequently Asked Questions</h3>
     <br/>
     <span><strong>Buying Bitcoin</strong></span>
     <br/>
     <div class="col-md-11 no-padding">
       <div class="title-accordion" data-target="first-accordion">
         What is Bitcoin?
       </div>
       <div class="detail-accordion" id="first-accordion" data-target="first-accordion">
        Bitcoin is a new kind of digital money that can be sent from one person, to another without the need for a trusted third party such as a bank or other financial institution; it is the first global, decentralized virtual currency.
      </div>
      <div class="title-accordion" data-target="second-accordion" data-target="second-accordion">
       Why Bitcoin?
     </div>
     <div class="detail-accordion" id="second-accordion">
      As a way to get discounts and deals, thousands of users are starting to use digital currences each single day to pay only or physical purchases. Virtual currencies such as Bitcoin and many others, represents a new way for businesses to reduce costs and timing in payments processing.
    </div>
  </div>
</div>
</section>
<div class="clearfix"></div>